@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.full-screen-container {
    background-image: url('../images/login/login-page-bg.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.login-image {
    margin-right: auto!important;
    text-align: center!important;
}

.login-title {
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
}

.login-button {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    background: hsla(201, 100%, 50%, 0.1);
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: hsla(201, 100%, 50%, 0.3);
}

.login-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5);
}